h1 {
    color: darkblue;
    text-align: center;
    background-image: url("cloud.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 80px;
    font-size: 300%;
}
p {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: purple;
	font-weight: bolder;
	font-size: 200%;
}

#yourCity {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#yourState {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#temperature {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#chanceOfRain {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#whatToWear {
	color: black;
	font-weight: bold;
	font-size: 100%;
}

#rainy {
    display: none;
    margin: auto;
}
#cloudy {
    display: none;
    margin: auto;
}
#sunny {
    display: none;
    margin: auto;
}

#button {
	background-color: darkblue;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
    color: white;
    font-weight: bold;
}

#zipcodeText {
	margin: auto;
    text-align: center;
}

#Zipcode {
    text-align: center;
}

body {
    background-color: lightblue;
}

