h1 {
    color: darkblue;
    text-align: center;
    background-image: url("cloud.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 80px;
    font-size: 300%;
}
p {
	color: purple;
	font-weight: bolder;
	font-size: 200%;
}


#yourCity {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#yourState {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#temperature {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#chanceOfRain {
	color: black;
	font-weight: bold;
	font-size: 100%;
}
#whatToWear {
	color: black;
	font-weight: bold;
	font-size: 100%;
}



#button {
	background-color: #f44336;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
}

#zipcodeText {
	margin: auto;
}

#backgroundImage {
	background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fa%2Fa3%2FCumulus_clouds_panorama.jpg&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FCloud&docid=gNnDLvIOuPAICM&tbnid=zeo0cxIc3e03aM%3A&vet=1&w=3568&h=1067&bih=590&biw=1280&q=clouds&ved=0ahUKEwismPPXiNTRAhVL7SYKHdHpByoQMwhuKAAwAA&iact=mrc&uact=8);
}

